# Maven 构建输出
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# 日志
*.log

# 本地配置
application-local.yml
!**/src/main/resources/application-local.yml

# 操作系统
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.swp
